*{
    font-family: 'Roboto', sans-serif;
}
body{
    #about{
        margin: 0 30vw 0 30vw;
        width: 40vw;
        header{
            text-align: center;
        }
    }
    .list{
        li{
            margin-bottom: 10px;
        }
        .sublist{
            margin-top: 10px;
        }
    }
}