*{
    font-family: 'Roboto', sans-serif;
}
body{
    #about{
        margin: 0 20vw 0 20vw;
        width: 60vw;
        header{
            text-align: center;
        }
    }
    .list{
        li{
            margin-bottom: 10px;
        }
        .sublist{
            margin-top: 5px;
            li{
                margin-bottom: 1px;
            }
        }
    }

    #buttonstyle{
        margin-left: 50%;
        transform: translate(-50%);
        border: none;
        border-radius: 5px;
        padding: 15px;
        font-size: large;
        &:hover{
            cursor: pointer;
        }
    }
    table{
        margin-top: 10px;
        border-collapse: collapse;
        border: 1px solid black;
    }
    tr,td,th{
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
}